<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>371286748878-ljdfe8d161oqabla5n1gc6fcrk0128nb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371286748878-ljdfe8d161oqabla5n1gc6fcrk0128nb</string>
	<key>API_KEY</key>
	<string>AIzaSyCMML5O8m7W8DWNfecsau9X579hH6VlN2s</string>
	<key>GCM_SENDER_ID</key>
	<string>371286748878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.monitoramentoweb.Monit2019.Monit2019</string>
	<key>PROJECT_ID</key>
	<string>monitweb-216019</string>
	<key>STORAGE_BUCKET</key>
	<string>monitweb-216019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371286748878:ios:f965615c67c7d1d2</string>
	<key>DATABASE_URL</key>
	<string>https://monitweb-216019.firebaseio.com</string>
</dict>
</plist>